@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
}

header {
  padding: 25px 300px;;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: sticky; */
}

ul{
  font-size: 18px;
  font-weight: normal;
  color: #e5e7eb;
  list-style-type: none;
  display:flex;
  justify-content: space-between;
}

li{
  margin: 15px;
}

